<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 1.1 servlet_collaboration/request_dispatcher -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet_collaboration.request_dispatcher.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>servlet_collaboration.request_dispatcher.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/welcomeServlet</url-pattern>
	</servlet-mapping>
	<!-- 1.1 servlet_collaboration/request_dispatcher -->
	
	<!-- 1.2 servlet_collaboration/send_redirect -->
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<servlet-class>servlet_collaboration.send_redirect.DemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoServlet</servlet-name>
		<url-pattern>/DemoServlet</url-pattern>
	</servlet-mapping>
	<!-- 1.2 servlet_collaboration/send_redirect -->
	
	<!-- 2.1 servlet_config/init_param -->
	<servlet>
		<servlet-name>ServletConfigInitParamServlet</servlet-name>
		<servlet-class>servlet_config.init_param.ServletConfigInitParamServlet</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfigInitParamServlet</servlet-name>
		<url-pattern>/ServletConfigInitParamServlet</url-pattern>
	</servlet-mapping>
	<!-- 2.1 servlet_config/init_param -->
	
	<!-- 2.2 servlet_config/all_init_param -->
	<servlet>  
		<servlet-name>ServletConfigAllInitParamServlet</servlet-name>  
		<servlet-class>servlet_config.all_init_param.ServletConfigAllInitParamServlet</servlet-class>  
		  
		<init-param>  
			<param-name>username</param-name>  
			<param-value>system</param-value>  
		</init-param>  
		  
		<init-param>  
			<param-name>password</param-name>  
			<param-value>oracle</param-value>  
		</init-param>  
	</servlet>  
		  
	<servlet-mapping>  
		<servlet-name>ServletConfigAllInitParamServlet</servlet-name>  
		<url-pattern>/ServletConfigAllInitParamServlet</url-pattern>  
	</servlet-mapping>  
	<!-- 2.2 servlet_config/all_init_param -->
	
	<!-- 3.1 servlet_context/init_param -->
	<servlet>  
		<servlet-name>ServletContextInitParamServlet</servlet-name>  
		<servlet-class>servlet_context.init_param.ServletContextInitParamServlet</servlet-class>  
	</servlet>
	<context-param>  
		<param-name>driver</param-name>  
		<param-value>Lyan Kyaw</param-value>  
	</context-param>  
	<servlet-mapping>  
		<servlet-name>ServletContextInitParamServlet</servlet-name>  
		<url-pattern>/ServletContextInitParamServlet</url-pattern>  
	</servlet-mapping>
	<!-- 3.1 servlet_context/init_param -->
	
	<!-- 3.2 servlet_context/all_init_param -->
	<servlet>  
		<servlet-name>ServletContextAllInitParamServlet</servlet-name>  
		<servlet-class>servlet_context.all_init_param.ServletContextAllInitParamServlet</servlet-class>  
	</servlet>  
	<context-param>  
		<param-name>dname</param-name>  
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
	</context-param>  
	<context-param>  
		<param-name>username</param-name>  
		<param-value>system</param-value>  
	</context-param>  
	<context-param>  
		<param-name>password</param-name>  
		<param-value>oracle</param-value>  
	</context-param>  
	<servlet-mapping>  
		<servlet-name>ServletContextAllInitParamServlet</servlet-name>  
		<url-pattern>/ServletContextAllInitParamServlet</url-pattern>  
	</servlet-mapping>
	<!-- 3.2 servlet_context/all_init_param -->
	
	<servlet>
		<servlet-name>AttributeServlet</servlet-name>
		<servlet-class>attribute.AttributeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttributeServlet</servlet-name>
		<url-pattern>/attributeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttributeServlet2</servlet-name>
		<servlet-class>attribute.AttributeServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttributeServlet2</servlet-name>
		<url-pattern>/attributeServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CookieInServlet1</servlet-name>
		<servlet-class>cookie_in_servlet.CookieInServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieInServlet1</servlet-name>
		<url-pattern>/cookieInServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CookieInServlet2</servlet-name>
		<servlet-class>cookie_in_servlet.CookieInServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieInServlet2</servlet-name>
		<url-pattern>/cookieInServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CookieLoginServlet</servlet-name>
		<servlet-class>cookie_login_logout_profile.CookieLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieLoginServlet</servlet-name>
		<url-pattern>/cookieLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CookieProfileServlet</servlet-name>
		<servlet-class>cookie_login_logout_profile.CookieProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieProfileServlet</servlet-name>
		<url-pattern>/cookieProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CookieLogoutServlet</servlet-name>
		<servlet-class>cookie_login_logout_profile.CookieLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieLogoutServlet</servlet-name>
		<url-pattern>/cookieLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HiddenFormField1</servlet-name>
		<servlet-class>hidden_form_field.HiddenFormField1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HiddenFormField1</servlet-name>
		<url-pattern>/hidden_form_field/HiddenFormField1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HiddenFormField2</servlet-name>
		<servlet-class>hidden_form_field.HiddenFormField2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HiddenFormField2</servlet-name>
		<url-pattern>/hidden_form_field/HiddenFormField2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UrlRewritingServlet1</servlet-name>
		<servlet-class>url_rewriting.UrlRewritingServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UrlRewritingServlet1</servlet-name>
		<url-pattern>/url_rewriting/urlRewritingServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UrlRewritingServlet2</servlet-name>
		<servlet-class>url_rewriting.UrlRewritingServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UrlRewritingServlet2</servlet-name>
		<url-pattern>/url_rewriting/urlRewritingServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HttpSessionServlet1</servlet-name>
		<servlet-class>http_session.HttpSessionServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpSessionServlet1</servlet-name>
		<url-pattern>/http_session/httpSessionServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HttpSessionServlet2</servlet-name>
		<servlet-class>http_session.HttpSessionServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpSessionServlet2</servlet-name>
		<url-pattern>/http_session/httpSessionServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginHttpSessionServlet</display-name>
		<servlet-name>LoginHttpSessionServlet</servlet-name>
		<servlet-class>http_session_login_logout_profile.LoginHttpSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginHttpSessionServlet</servlet-name>
		<url-pattern>/http_session_login_logout_profile/loginHttpSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProfileHttpSessionServlet</display-name>
		<servlet-name>ProfileHttpSessionServlet</servlet-name>
		<servlet-class>http_session_login_logout_profile.ProfileHttpSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileHttpSessionServlet</servlet-name>
		<url-pattern>/http_session_login_logout_profile/profileHttpSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutHttpSessionServlet</display-name>
		<servlet-name>LogoutHttpSessionServlet</servlet-name>
		<servlet-class>http_session_login_logout_profile.LogoutHttpSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutHttpSessionServlet</servlet-name>
		<url-pattern>/http_session_login_logout_profile/logoutHttpSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>HttpSessionLoginLogoutEventServlet1</servlet-name>
		<servlet-class>http_session_event_listener.HttpSessionLoginLogoutEventServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpSessionLoginLogoutEventServlet1</servlet-name>
		<url-pattern>/http_session_event_listener/httpSessionLoginLogoutEventServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HttpSessionLoginLogoutEventServlet2</servlet-name>
		<servlet-class>http_session_event_listener.HttpSessionLoginLogoutEventServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpSessionLoginLogoutEventServlet2</servlet-name>
		<url-pattern>/http_session_event_listener/httpSessionLoginLogoutEventServlet2</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>http_session_event_listener.HttpSessionLoginLogoutListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>SimpleFilterServlet</servlet-name>
		<servlet-class>filter.simple_filter.SimpleFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimpleFilterServlet</servlet-name>
		<url-pattern>/simpleFilterServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SimpleFilter</filter-name>
		<filter-class>filter.simple_filter.SimpleFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SimpleFilter</filter-name>
		<url-pattern>/simpleFilterServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AuthenticationFilterServlet</servlet-name>
		<servlet-class>filter.authentication_filter.AuthenticationFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationFilterServlet</servlet-name>
		<url-pattern>/authenticationFilterServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>filter.authentication_filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/authenticationFilterServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>FilterConfigServlet</servlet-name>
		<servlet-class>filter.filter_config.FilterConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilterConfigServlet</servlet-name>
		<url-pattern>/filterConfigServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>FilterConfigFliter</filter-name>
		<filter-class>filter.filter_config.FilterConfigFliter</filter-class>
		<init-param>
			<param-name>construction</param-name>
			<param-value>no</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterConfigFliter</filter-name>
		<url-pattern>/filterConfigServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ResponseByFilterOnlyServlet</servlet-name>
		<servlet-class>filter.useful_example.ResponseByFilterOnlyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResponseByFilterOnlyServlet</servlet-name>
		<url-pattern>/responseByFilterOnlyServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>ResponseByFilterOnly</filter-name>
		<filter-class>filter.useful_example.ResponseByFilterOnly</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ResponseByFilterOnly</filter-name>
		<url-pattern>/responseByFilterOnlyServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>CountByUserServlet</servlet-name>
		<servlet-class>filter.useful_example.CountByUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountByUserServlet</servlet-name>
		<url-pattern>/countByUserServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CountByUser</filter-name>
		<filter-class>filter.useful_example.CountByUser</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CountByUser</filter-name>
		<url-pattern>/countByUserServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>CheckTotalResponseTimeServlet</servlet-name>
		<servlet-class>filter.useful_example.CheckTotalResponseTimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckTotalResponseTimeServlet</servlet-name>
		<url-pattern>/checkTotalResponseTimeServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CheckTotalResponseTime</filter-name>
		<filter-class>filter.useful_example.CheckTotalResponseTime</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckTotalResponseTime</filter-name>
		<url-pattern>/checkTotalResponseTimeServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>SaveServlet</servlet-name>
		<servlet-class>crud.SaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveServlet</servlet-name>
		<url-pattern>/saveServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewServlet</servlet-name>
		<servlet-class>crud.ViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewServlet</servlet-name>
		<url-pattern>/viewServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>crud.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/editServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditServlet2</servlet-name>
		<servlet-class>crud.EditServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditServlet2</servlet-name>
		<url-pattern>/editServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>crud.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/deleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaginationServlet</servlet-name>
		<servlet-class>pagination.PaginationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaginationServlet</servlet-name>
		<url-pattern>/paginationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DisplayImageServelt</servlet-name>
		<servlet-class>miscellaneous.servletInputOutputStream.DisplayImageServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayImageServelt</servlet-name>
		<url-pattern>/displayImageServelt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SingleThreadModelServlet</servlet-name>
		<servlet-class>miscellaneous.single_thread_model.SingleThreadModelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SingleThreadModelServlet</servlet-name>
		<url-pattern>/singleThreadModelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>development.register.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>development.fetching_records.Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/fetch/Search</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>development.improving_performance.MyListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>MyServlet1</servlet-name>
		<servlet-class>development.improving_performance.MyServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet1</servlet-name>
		<url-pattern>/myServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyServlet2</servlet-name>
		<servlet-class>development.improving_performance.MyServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet2</servlet-name>
		<url-pattern>/myServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>development.uploading_file.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/go</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>development.downloading_file.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/servlet/DownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendMail</servlet-name>
		<servlet-class>development.servlet_sending_email.SendMail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMail</servlet-name>
		<url-pattern>/SendMail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet1</servlet-name>
		<servlet-class>development.login_example.FirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet1</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet2</servlet-name>
		<servlet-class>development.login_example.SecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet2</servlet-name>
		<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>writeImage</servlet-name>
		<servlet-class>development.writing_image.DisplayImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>writeImage</servlet-name>
		<url-pattern>/writeImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>demoServ</servlet-name>
		<servlet-class>servlet_request.DemoServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demoServ</servlet-name>
		<url-pattern>/demoServ</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<!-- 3.2 servlet_context/all_init_param -->
		<welcome-file>servlet_context/all_init_param/allInitParamServletContext.html</welcome-file>
		
		<!-- 3.1 servlet_context/init_param -->
		<welcome-file>servlet_context/init_param/initParamServletContext.html</welcome-file>
	
		<!-- 2.2 servlet_config/all_init_param -->
		<welcome-file>servlet_config/all_init_param/allInitParamServletConfig.html</welcome-file>
		
		<!-- 2.1 servlet_config/init_param -->
		<welcome-file>servlet_config/init_param/initParamServletConfig.html</welcome-file>
		
		<!-- 1.2 servlet_collaboration/send_redirect -->
		<welcome-file>servlet_collaboration/send_redirect/googleSearcher.html</welcome-file>
		
		<!-- 1.1 servlet_collaboration/request_dispatcher -->
		<welcome-file>servlet_collaboration/request_dispatcher/login.html</welcome-file>
		
		<welcome-file>servlet_request/index.html</welcome-file>
		<welcome-file>development/writing_image/index.html</welcome-file>
		<welcome-file>development/login_example/index.html</welcome-file>
		<welcome-file>development/downloading_file/index.html</welcome-file>
		<welcome-file>development/servlet_sending_email/index.html</welcome-file>
		<welcome-file>development/uploading_file/index.html</welcome-file>
		<welcome-file>development/improving_performance/index.html</welcome-file>
		<welcome-file>development/fetching_records/index.html</welcome-file>
		<welcome-file>development/register/register.html</welcome-file>
		<welcome-file>miscellaneous/single_thread_model/index.html</welcome-file>
		<welcome-file>miscellaneous/servletInputOutputStream/index.html</welcome-file>
		<welcome-file>pagination/index.html</welcome-file>
		<welcome-file>crud/index.html</welcome-file>
		<welcome-file>filter/useful_example/checkTotalResponseTime.html</welcome-file>
		<welcome-file>filter/useful_example/countByUser.html</welcome-file>
		<welcome-file>filter/useful_example/responseByFilterOnly.html</welcome-file>
		<welcome-file>filter/filter_config/index.html</welcome-file>
		<welcome-file>filter/authentication_filter/index.html</welcome-file>
		<welcome-file>filter/simple_filter/index.html</welcome-file>
		<welcome-file>http_session_event_listener/index.html</welcome-file>
		<welcome-file>http_session_login_logout_profile/index.html</welcome-file>
		<welcome-file>http_session/index.html</welcome-file>
		<welcome-file>url_rewriting/index.html</welcome-file>
		<welcome-file>hidden_form_field/index.html</welcome-file>
		<welcome-file>cookie_login_logout_profile/index.html</welcome-file>
		<welcome-file>cookie_in_servlet/index.html</welcome-file>
		<welcome-file>servlet_config/servletConfig1.html</welcome-file>
		<welcome-file>attribute/attribute.html</welcome-file>
		<welcome-file>servlet_context/servletContext2.html</welcome-file>
		
		
		
		<welcome-file>servlet_with_ide/index.html</welcome-file>
	</welcome-file-list>
</web-app>