<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>servlet_with_ide.Hello</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>request_dispatcher.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>request_dispatcher.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/welcomeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoogleSearchServlet2</servlet-name>
		<servlet-class>send_redirect.GoogleSearchServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleSearchServlet2</servlet-name>
		<url-pattern>/googleSearchServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletConfig1</servlet-name>
		<servlet-class>servlet_config.ServletConfig1</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfig1</servlet-name>
		<url-pattern>/servletConfig1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletConfig2</servlet-name>
		<servlet-class>servlet_config.ServletConfig2</servlet-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>system</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>oracle</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfig2</servlet-name>
		<url-pattern>/servletConfig2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContext1</servlet-name>
		<servlet-class>servlet_context.ServletContext1</servlet-class>
	</servlet>
	<context-param>
		<param-name>dname</param-name>
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
	</context-param>
	<servlet-mapping>
		<servlet-name>ServletContext1</servlet-name>
		<url-pattern>/servletContext1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContext2</servlet-name>
		<servlet-class>servlet_context.ServletContext2</servlet-class>
	</servlet>
	<context-param>
		<param-name>dname</param-name>
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>system</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>oracle</param-value>
	</context-param>
	<servlet-mapping>
		<servlet-name>ServletContext2</servlet-name>
		<url-pattern>/servletContext2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AttributeServlet</servlet-name>
		<servlet-class>attribute.AttributeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AttributeServlet</servlet-name>
		<url-pattern>/attributeServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AttributeServlet2</servlet-name>
		<servlet-class>attribute.AttributeServlet2</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AttributeServlet2</servlet-name>
		<url-pattern>/attributeServlet2</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>servlet_config/servletConfig1.html</welcome-file>
		<welcome-file>attribute/attribute.html</welcome-file>
		<welcome-file>servlet_context/servletContext2.html</welcome-file>
		<welcome-file>servlet_context/servletContext1.html</welcome-file>
		<welcome-file>servlet_config/servletConfig2.html</welcome-file>
		
		<welcome-file>send_redirect/googleSearcher.html</welcome-file>
		<welcome-file>request_dispatcher/login.html</welcome-file>
		<welcome-file>servlet_with_ide/index.html</welcome-file>
	</welcome-file-list>
</web-app>