<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>servlet_with_ide.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>request_dispatcher.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>request_dispatcher.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleSearchServlet2</servlet-name>
    <servlet-class>send_redirect.GoogleSearchServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleSearchServlet2</servlet-name>
    <url-pattern>/googleSearchServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfig1</servlet-name>
    <servlet-class>servlet_config.ServletConfig1</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfig1</servlet-name>
    <url-pattern>/servletConfig1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfig2</servlet-name>
    <servlet-class>servlet_config.ServletConfig2</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>oracle</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfig2</servlet-name>
    <url-pattern>/servletConfig2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContext1</servlet-name>
    <servlet-class>servlet_context.ServletContext1</servlet-class>
  </servlet>
  <context-param>
    <param-name>dname</param-name>
    <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>ServletContext1</servlet-name>
    <url-pattern>/servletContext1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContext2</servlet-name>
    <servlet-class>servlet_context.ServletContext2</servlet-class>
  </servlet>
  <context-param>
    <param-name>dname</param-name>
    <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>system</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>oracle</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>ServletContext2</servlet-name>
    <url-pattern>/servletContext2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttributeServlet</servlet-name>
    <servlet-class>attribute.AttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributeServlet</servlet-name>
    <url-pattern>/attributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttributeServlet2</servlet-name>
    <servlet-class>attribute.AttributeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributeServlet2</servlet-name>
    <url-pattern>/attributeServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieInServlet1</servlet-name>
    <servlet-class>cookie_in_servlet.CookieInServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieInServlet1</servlet-name>
    <url-pattern>/cookieInServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieInServlet2</servlet-name>
    <servlet-class>cookie_in_servlet.CookieInServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieInServlet2</servlet-name>
    <url-pattern>/cookieInServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieLoginServlet</servlet-name>
    <servlet-class>cookie_login_logout_profile.CookieLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieLoginServlet</servlet-name>
    <url-pattern>/cookieLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieProfileServlet</servlet-name>
    <servlet-class>cookie_login_logout_profile.CookieProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieProfileServlet</servlet-name>
    <url-pattern>/cookieProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieLogoutServlet</servlet-name>
    <servlet-class>cookie_login_logout_profile.CookieLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieLogoutServlet</servlet-name>
    <url-pattern>/cookieLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HiddenFormField1</servlet-name>
    <servlet-class>hidden_form_field.HiddenFormField1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenFormField1</servlet-name>
    <url-pattern>/hidden_form_field/HiddenFormField1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HiddenFormField2</servlet-name>
    <servlet-class>hidden_form_field.HiddenFormField2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenFormField2</servlet-name>
    <url-pattern>/hidden_form_field/HiddenFormField2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UrlRewritingServlet1</servlet-name>
    <servlet-class>url_rewriting.UrlRewritingServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlRewritingServlet1</servlet-name>
    <url-pattern>/url_rewriting/urlRewritingServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UrlRewritingServlet2</servlet-name>
    <servlet-class>url_rewriting.UrlRewritingServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlRewritingServlet2</servlet-name>
    <url-pattern>/url_rewriting/urlRewritingServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpSessionServlet1</servlet-name>
    <servlet-class>http_session.HttpSessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionServlet1</servlet-name>
    <url-pattern>/http_session/httpSessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpSessionServlet2</servlet-name>
    <servlet-class>http_session.HttpSessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionServlet2</servlet-name>
    <url-pattern>/http_session/httpSessionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginHttpSessionServlet</display-name>
    <servlet-name>LoginHttpSessionServlet</servlet-name>
    <servlet-class>http_session_login_logout_profile.LoginHttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHttpSessionServlet</servlet-name>
    <url-pattern>/http_session_login_logout_profile/loginHttpSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileHttpSessionServlet</display-name>
    <servlet-name>ProfileHttpSessionServlet</servlet-name>
    <servlet-class>http_session_login_logout_profile.ProfileHttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileHttpSessionServlet</servlet-name>
    <url-pattern>/http_session_login_logout_profile/profileHttpSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutHttpSessionServlet</display-name>
    <servlet-name>LogoutHttpSessionServlet</servlet-name>
    <servlet-class>http_session_login_logout_profile.LogoutHttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutHttpSessionServlet</servlet-name>
    <url-pattern>/http_session_login_logout_profile/logoutHttpSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>HttpSessionLoginLogoutEventServlet1</servlet-name>
    <servlet-class>http_session_event_listener.HttpSessionLoginLogoutEventServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionLoginLogoutEventServlet1</servlet-name>
    <url-pattern>/http_session_event_listener/httpSessionLoginLogoutEventServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpSessionLoginLogoutEventServlet2</servlet-name>
    <servlet-class>http_session_event_listener.HttpSessionLoginLogoutEventServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionLoginLogoutEventServlet2</servlet-name>
    <url-pattern>/http_session_event_listener/httpSessionLoginLogoutEventServlet2</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>http_session_event_listener.HttpSessionLoginLogoutListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>SimpleFilterServlet</servlet-name>
    <servlet-class>filter.simple_filter.SimpleFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleFilterServlet</servlet-name>
    <url-pattern>/simpleFilterServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SimpleFilter</filter-name>
    <filter-class>filter.simple_filter.SimpleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SimpleFilter</filter-name>
    <url-pattern>/simpleFilterServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AuthenticationFilterServlet</servlet-name>
    <servlet-class>filter.authentication_filter.AuthenticationFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationFilterServlet</servlet-name>
    <url-pattern>/authenticationFilterServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>filter.authentication_filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/authenticationFilterServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>FilterConfigServlet</servlet-name>
    <servlet-class>filter.filter_config.FilterConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterConfigServlet</servlet-name>
    <url-pattern>/filterConfigServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FilterConfigFliter</filter-name>
    <filter-class>filter.filter_config.FilterConfigFliter</filter-class>
    <init-param>
      <param-name>construction</param-name>
      <param-value>no</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FilterConfigFliter</filter-name>
    <url-pattern>/filterConfigServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ResponseByFilterOnlyServlet</servlet-name>
    <servlet-class>filter.useful_example.ResponseByFilterOnlyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseByFilterOnlyServlet</servlet-name>
    <url-pattern>/responseByFilterOnlyServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ResponseByFilterOnly</filter-name>
    <filter-class>filter.useful_example.ResponseByFilterOnly</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResponseByFilterOnly</filter-name>
    <url-pattern>/responseByFilterOnlyServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CountByUserServlet</servlet-name>
    <servlet-class>filter.useful_example.CountByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountByUserServlet</servlet-name>
    <url-pattern>/countByUserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CountByUser</filter-name>
    <filter-class>filter.useful_example.CountByUser</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CountByUser</filter-name>
    <url-pattern>/countByUserServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CheckTotalResponseTimeServlet</servlet-name>
    <servlet-class>filter.useful_example.CheckTotalResponseTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckTotalResponseTimeServlet</servlet-name>
    <url-pattern>/checkTotalResponseTimeServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CheckTotalResponseTime</filter-name>
    <filter-class>filter.useful_example.CheckTotalResponseTime</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckTotalResponseTime</filter-name>
    <url-pattern>/checkTotalResponseTimeServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>crud.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/saveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>crud.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/viewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>crud.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditServlet2</servlet-name>
    <servlet-class>crud.EditServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet2</servlet-name>
    <url-pattern>/editServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>crud.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaginationServlet</servlet-name>
    <servlet-class>pagination.PaginationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginationServlet</servlet-name>
    <url-pattern>/paginationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayImageServelt</servlet-name>
    <servlet-class>miscellaneous.servletInputOutputStream.DisplayImageServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImageServelt</servlet-name>
    <url-pattern>/displayImageServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleThreadModelServlet</servlet-name>
    <servlet-class>miscellaneous.single_thread_model.SingleThreadModelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleThreadModelServlet</servlet-name>
    <url-pattern>/singleThreadModelServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>development.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>development/register/register.html</welcome-file>
    <welcome-file>miscellaneous/single_thread_model/index.html</welcome-file>
    <welcome-file>miscellaneous/servletInputOutputStream/index.html</welcome-file>
    <welcome-file>pagination/index.html</welcome-file>
    <welcome-file>crud/index.html</welcome-file>
    <welcome-file>filter/useful_example/checkTotalResponseTime.html</welcome-file>
    <welcome-file>filter/useful_example/countByUser.html</welcome-file>
    <welcome-file>filter/useful_example/responseByFilterOnly.html</welcome-file>
    <welcome-file>filter/filter_config/index.html</welcome-file>
    <welcome-file>filter/authentication_filter/index.html</welcome-file>
    <welcome-file>filter/simple_filter/index.html</welcome-file>
    <welcome-file>http_session_event_listener/index.html</welcome-file>
    <welcome-file>http_session_login_logout_profile/index.html</welcome-file>
    <welcome-file>http_session/index.html</welcome-file>
    <welcome-file>url_rewriting/index.html</welcome-file>
    <welcome-file>hidden_form_field/index.html</welcome-file>
    <welcome-file>cookie_login_logout_profile/index.html</welcome-file>
    <welcome-file>cookie_in_servlet/index.html</welcome-file>
    <welcome-file>servlet_config/servletConfig1.html</welcome-file>
    <welcome-file>attribute/attribute.html</welcome-file>
    <welcome-file>servlet_context/servletContext2.html</welcome-file>
    <welcome-file>servlet_context/servletContext1.html</welcome-file>
    <welcome-file>servlet_config/servletConfig2.html</welcome-file>
    <welcome-file>send_redirect/googleSearcher.html</welcome-file>
    <welcome-file>request_dispatcher/login.html</welcome-file>
    <welcome-file>servlet_with_ide/index.html</welcome-file>
  </welcome-file-list>
</web-app>